@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.hero{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mid{
    display: flex;
    flex: 1;
}

.content{
    flex: 1;
}
